.nav-link :hover{
color: red; 
}
.background-light{
    margin-top: 40px;
  }
  .background-lights{
      background-color: #01012c;
      color: white;
      margin: auto;
      padding: auto;
  }
 
  .background-lights h1{
    color:rgb(215, 145, 15);
    margin-left: 20px;
    margin-top: 40px;
    padding-top: 20px; 
  }
  .background-lights h4{
    margin-left: 20px;
    margin-top: 40px;
    font-size: 20px;
  }
  .background-lights p{
    margin-left: 20px;
    color: rgb(178, 170, 170);
  }
  .padding{
    margin-left: 20px;
    color: rgb(178, 170, 170);
    padding-bottom: 20px;
   

  }
  h4:hover {
    color: rgb(215, 145, 15); /* Change color on hover */
  }
  .col-lg-4 {
    padding-left: 20px; /* Add left padding */
    padding-right: 20px; /* Add right padding */
  }
  .horizontal-line {
    border-top: 2px solid #b3acac; /* Add border to create horizontal line */
    width: 260px;
    padding-left: 20px; /* Add left padding */
    padding-right: 20px; /* Add right padding */
  }
  .data  {
    padding-top: 20px;
  }
.row-data{
    padding-top: 20px;
    font-size:16px; 
    color: #aaa8a8;
    margin-right: 60px;
    
}
.data-light h2{
    color: #b3acac;
}
.data-light h4{
    font-size: 14px;
}
.data-light p{
    font-size: 12px;
    color: #aaa8a8;
}
.data-light h4:hover {
    color: red; /* Change color on hover */
  }